<!DOCTYPE html>
<html ng-controller="mainCtrl" ng-app="App" ng-class="{'noHeader' : headerless}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="Wiseman Interactive Oü"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<link type="text/css" rel="stylesheet" href="/dist/default.css" />
<link rel="shortcut icon"  href="https://www.twn.ee/TW_favicon_32x32.png" type="image/x-icon"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
<script type="text/javascript" language="javascript" src="/assets/js/main.js"></script>
<script type='text/javascript' language="javascript" src="/assets/aes/aes.js"></script>
<script type="text/javascript" language="javascript" src="/dist/libs.js"></script>
<script type="text/javascript" language="javascript" src="/dist/app.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<base href="/">
<title>Referentsbaas</title>
</head>
<body>
	<ng-include ng-if="!headerless" src="'header.tpl'" ng-controller="header"></ng-include>
	<div ui-view class="view" ng-class="animationClass"></div>
</body>
</html>