<script type="text/ng-template" id="breadcrumbs.tpl">
    <ol class="ab-nav breadcrumb">
        <li class="breadcrumb-item" ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
          <a ng-if="!$last" ng-href="{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
          
          <span ng-if="$last" ng-bind="breadcrumb.label"></span>
        </li>
    </ol>
</script>