/*
WISEMAN INTERACTIVE
http://www.wiseman.ee
*/
a img {
  border: none;
}
*:focus {
  outline: 0;
}
textarea {
  resize: none;
}
html {
  overflow: -moz-scrollbars-vertical;
  font-size: 16px;
}
a {
  -moz-outline-style: none;
}
img {
  -ms-interpolation-mode: bicubic;
}
.rotated {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.no_select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
}
.mobile {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
@-ms-viewport {
  width: 900px;
}
@viewport {
  width: 900px;
}