.file a { 
    color: black !important; 
}
.file-name { position: relative; left: 0.5rem; }
.files-name { max-width: 10rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis; }
.files-remove { margin-right: 1rem; } 