//main: build.less

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
md-autocomplete-wrap {
  // border: 1px solid rgba(0, 0, 0, 0.15);
  // border-radius: 0.25rem;
  // height: 40px;
  // box-shadow: none !important;
}
.d-block.float-right .btn-primary { width: 10rem; }
tags-input .tags { padding: .2rem .5rem; }
md-tabs md-tabs-wrapper { background-color: white; }
.tags { border-radius: .25rem; box-shadow: 0px 0px !important; border: 1px solid rgba(0,0,0,0.15); &.focused { border-color: #14CC76; box-shadow: 0px 0px !important; }}
.bold { font-weight: bold; }
a img{border:none;}
.view { height: 100%; }
.break-word { word-wrap: break-word; }
.none { display: none !important; }
.no-decoration { text-decoration: none; }
*:focus{outline:0;}
textarea{max-width:100%; max-height:40rem; min-width:47.5%;}
html{overflow:-moz-scrollbars-vertical; font-size:16px;}
a{-moz-outline-style:none;}
img { -ms-interpolation-mode: bicubic; }
.rotated{/* Safari */-webkit-transform: rotate(-90deg);/* Firefox */-moz-transform: rotate(-90deg);/* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.no_select{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block; margin:0; padding:0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{margin:0;}
.no-pointer-events { pointer-events: none; }
.end-of-line a { color: grey; }
// .breadcrumb, .my-error { margin-top: 115px; margin-bottom: 0px !important; width: 1110px; max-width: 100%; margin-left: auto; margin-right: auto;
//   li { float: left; margin-left: 0.6rem; i { margin-left: 0.4rem; }}
//   li:first-child { margin-left: 0 }
//   @media (min-width: 576px) { width: 540px; max-width: 100%; }
//   @media (min-width: 768px) { width: 720px; max-width: 100%; }
//   @media (min-width: 992px) { width: 960px; max-width: 100%; }
//   // @media (min-width: 1200px) { width: 1140px; max-width: 100%; }
// }
.alert { padding: .75rem 1rem }
.breadcrumb { border: 1px solid #eceeef; display: flex; }
.breadcrumb-div-replacer { display: block; }
.myfade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.myfade.ng-enter.ng-enter-active {
  opacity:1;
}
.fastfade.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}
.fastfade.ng-enter.ng-enter-active {
  opacity:1;
}
.modal-open {
    .view,
    .navbar {
        filter: blur(2px);
    }
}
.popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) center center no-repeat;
    background-size: contain;
    z-index: 9999;
    cursor: pointer;
    padding: 0 20px;
    overflow: auto;

    .popup-modal-inline {
        display: block;
        max-width: 800px;
        background: #fff;
        margin: 20px auto;
        padding: 40px;
        cursor: auto;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    }
}
.last-modified {
      font-size: 0.88rem;
      color: rgba(41, 43, 44, 0.5);
   }
.md-autocomplete-suggestions-container{  z-index:100000 !important; /* any number of choice > 1050*/}
.highlight{ color: @green !important; font-weight: bold !important;}