.navbar {height: 76px;
   flex-direction: row;
   align-items: center;
   .navbar-title {
      margin-bottom: 0;
      margin-left: 1.5rem;
   }
   background-color: @purple;
   .navbar-brand {
      text-decoration: none;
      margin-right: 0;
      display: flex;
      align-items: center;
      img {
         width: 6.25rem;
         height: 3.13rem;
      }
   }
   .nav.navbar-nav {
      .nav-link {
         color: @white;
         font-size: 1.25rem;
         &:hover {
            color: @green;
         }
      }
      .nav-link.project {
         padding-right: 4.5rem;
      }
      .nav-item {display: flex; align-items: center;
         img {
            position: absolute;
            width: 1.5rem;
            margin-top: 0.9rem;
            right: 0;
            left: -1.56rem;
         }
      }
      .user {
         cursor: default;
         margin-right: 1.5rem;
         cursor: pointer;
         &:hover {
            color: @white !important;
         }
      }
   }
   .dropdown-toggle:after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .3em;
      vertical-align: middle;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-left: .3em solid transparent;
   }
   .dropdown-menu-right {
      right: 1.88rem;
      top: 63px;
      padding: 0;
      margin: 0;
      box-shadow: 0px 2px 15px -2px #3A3D57;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;
      #userMenu {
         display: none;
      }
      .dropdown-item {
         text-decoration: none;
         text-align: center;
         padding: 0.5rem 1rem;
         border-bottom: 1px solid #ddd;
         &:last-child {
            border-bottom: none;
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
         }
      }
   }
}
.add-project {
   .btn-primary {
      &:hover {
         color: @white;
         background-color: @green;
      }
   }
   .close {
      a {
         color: #000;
      }
   }
   .modal-dialog {
      max-width: 991px;
   }
   .modal-body {
      padding: 0.94rem 1.5rem;
      a:hover {
         text-decoration: none;
      }
   }
   h5 {
      color: @green;
   }
   form {
      .btn-primary {
         margin-left: 1.19rem;
         margin-top: 0.94rem;
         width: auto;
         &:hover {
            color: @white;
            background-color: @green;
         }
         &:last-child {
            color: @green;
            background: @white;
            &:hover {
               color: @green;
               background: @white;
            }
         }
      }
   }
   .modal-footer {
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      a {
         margin-left: 0rem;
      }
      h5 {
         color: #292b2c;
      }
      .btn-primary {
         color: @green;
         background: @white;
         &:hover {
            color: @green;
            background: @white;
         }
      }
   }
   label.custom-checkbox {
      line-height: 1.5rem;
      margin-bottom: 0rem;
      .custom-control-input:focus ~ .custom-control-indicator {
         box-shadow: none !important;
      }
      .custom-control-input:checked ~ .custom-control-indicator {
         background-color: @green;
      }
      .custom-control-input:active ~ .custom-control-indicator {
         background-color: @green;
      }
   }
   .table {
      td,
      th {
         border-right: 1px solid #eceeef;
         border-left: 1px solid #eceeef;
      }
      tr {
         &:last-child {
            td {
               border-bottom: 1px solid #eceeef;
            }
         }
      }
   }
   .results-all {
      .vertical-scroll {
         overflow: auto;
         max-height: 500px;
         .pagination {
            .page-link {
               background-color: transparent;
               border: none;
               color: @green;
               padding: 0.31rem;
               &:hover {
                  background-color: transparent;
                  color: rgb(0, 162, 86);
               }
            }
            .page-link.active {
               color: rgb(0, 162, 86);
            }
         }
      }
   }
}
.navbar-toggler {
   border-color: @green !important;
   border-width: 0.13rem;
   margin-top: 0.5rem;
}
.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20, 204, 118, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
@media only screen and (max-width: 991px) {
   .nav-item {
      img {
         left: 0.88rem;
      }
      .user {
         margin-left: 1.88rem;
      }
   }
   .navbar-collapse.collapsing {
      .nav-item {
         img {
            left: -2px;
         }
      }
   }
}
.mobile-menu{display: none; flex-grow: 1; justify-content: flex-end; //position: relative;
   .mobile-menu-btn{display: flex; background-color: transparent; border: none; color: @white;
      i{font-size: 36px;}
   }
   .mobile-menu-content{position: absolute; top: 76px; right: 0px; display: flex; flex-direction: column; background-color: @white; align-items: center; box-shadow: 0 2px 15px -2px @purple; border-bottom-left-radius: 12px;}
   .btn{margin: 20px 40px;}
   .mobile-menu-link{display: flex; justify-content: center; width: 100%; text-decoration: none !important; padding: 20px;
      border-top: 1px solid @anothergrey;
      &:hover{background-color: rgba(0,0,0,0.05);}
   }
   .mobile-menu-user{display: flex; justify-content: center; width: 100%; padding: 20px; border-bottom: 1px solid @anothergrey; font-weight: bold; font-size: 18px;}
}