html, body {
   height: auto;
   background:#fff;
}
.noHeader{height: 100%;
   body{height: 100%;}
   .view{margin-top:0 !important;}
   .form-control{box-shadow: none; border: 1px solid rgba(0,0,0,0.15); padding: 0.5rem 0.75rem; border-radius: 0.25rem;
      &:focus{box-shadow: none; border-color: @green;}
   }
}
a, .bootleg-link{color:@purple; text-decoration: underline;
   &:hover, &:focus{color:@purple; text-decoration:underline;}
}
body {
   padding-right: 0px !important;
}
.view{margin-top:76px;}
.container {
   margin-top: 0px;
}
.container-fluid {
   min-height: 100%;
   padding: 0;
   background-color: @purple;
}
.btn{margin: 0; text-decoration: none; text-transform: none; font-weight: bold;
   &.btn-disabled{pointer-events: none; position: relative;
      &:before{content: ""; position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px; background-color: @black; opacity: 0.3; border-radius: 4px;}
   }
}
.btn-primary {
   background-color: @green;
   color: @white;
   border-color: @green;
   border-width: 0.13rem;
   transition: all .2s;
   cursor: pointer;
   min-width: 7.5rem;
   text-transform: none;
   &:hover {
      background-color: @darkergreen;
      color: @white;
      border-color: @darkergreen;
   }
   &:focus {
      box-shadow: none;
      background-color: @darkergreen;
      color: @white;
      border-color: @darkergreen;
   }
   &:active{
      background-color: @darkergreen;
      color: @white;
      border-color: @darkergreen;
   }
   &.btn-icon{min-width: auto; padding: 5px; margin-left: 10px;}
   &.btn-preview{display: flex; min-width: 0; padding: 6px;}
}
.md-button:not([disabled]){
   &:hover{background-color: @darkergreen;}
   &.md-focused{background-color: @darkergreen;}
}
.md-button.btn-secondary:not([disabled]){
   &:hover{background-color: @darkred;}
   &.md-focused{background-color: @darkred; color: @white;}
}
.btn-light{background-color: @white; color: @green; border-color: @green; border-width: 0.13rem; transition: all .2s; cursor: pointer; min-width: 7.5rem; text-transform: none;
   &:hover{background-color: @darkergreen;}
   &:focus{color: @white; background-color: @darkergreen; box-shadow: none; border-color: @darkergreen;}
}
.btn-secondary{
   &.btn-icon{min-width: auto; padding: 5px; margin-left: 10px; width: auto; display: flex;}
}
.hidden{display:none;}
.moreOptions{display:block;}
.md-datepicker-open{
   .md-datepicker-calendar-icon{color: @green;}
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{background-color: @green;}
.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator{border-color: @green;}
.md-datepicker-input-container{
   &.md-datepicker-focused{border-bottom-color:@green;}
}
md-tabs{
   &.md-no-animation{
      md-tab-content{transition: none;}
   }
   &.secondary-tabs{
      .md-tab{font-size:16px; transition: background-color 0.15s; font-weight: bold;
         &:hover{background-color: rgba(0,0,0,0.05);}
         &.md-active{color: @purple;}
         .md-ripple-container{color: @green;}
      }
      md-ink-bar{color: @green; background-color: @green;}
   }
   md-ink-bar{color: @purple; background-color: @purple;}
   .md-tab{font-size:18px; transition: background-color 0.15s; font-weight: bold;
      &:hover{background-color: rgba(0,0,0,0.05);}
      &.md-active{color: @green;}
      .md-ripple-container{color: @green;}
   }
   .md-tab[disabled]{display: none;}
}
md-tabs-content-wrapper{left:15px; right:15px;}
.md-whiteframe-z1{box-shadow:none;}
md-chips{
   &.no-placeholder{
      .md-chips{
         .md-chip-input-container{width: auto;}
      }
   }
   md-chip{
      &.md-focused{background:@green; color: #fff;}
   }
   .md-chips{
      &.md-focused{box-shadow: 0 2px @green;}
      .md-chip-input-container{width: 100%;}
   }
}
/*.md-chips .md-chip-input-container input,*/ md-autocomplete input:not(.md-input){height: auto;}

md-progress-linear {display:none;
   .md-bar{background-color: @green;}
   .md-container{background-color: rgba(46,159,99,0.2); width: 80%;}
}

.form-control:focus, md-autocomplete input:not(.md-input):focus {
   box-shadow: 0px 2px @green;
}

.login {
   background-color: @purple;
   color: @white;
   padding: 2.5rem;
   border-radius: 1rem;
   box-shadow: 0rem 0rem 13.25rem 2rem rgba(20, 204, 118, 0.7);
   .ng-invalid-pattern{box-shadow: none !important; border-color: @red;}
   .ng-touched.ng-invalid-required{box-shadow: none !important; border-color: @red;}
   &.reset-password{max-width: 25rem;}
   .not-valid{padding-top: 1.88rem;}
   .password-helper{font-size: 14px; color: @white;}
   img {
      width: 18.75rem;
   }
   a {
      color: @green;
      font-weight: bold;
   }
   h1 {
      padding-top: 1rem;
      font-size: 2.5rem;
   }
   .form-control{background-color: @white;}
   form {
      padding-top: 1.88rem;
      .form-group:last-child {
         margin-bottom: 0rem;
      }
      label {
         line-height: 2rem;
      }
      .col-form-label {
         white-space: nowrap;
      }
      label.custom-checkbox {
         line-height: 1.5rem;
         .custom-control-indicator {
            background-color: @green;
         }
         .custom-control-input:focus ~ .custom-control-indicator {
            box-shadow: none !important;
         }
      }
   }
}
.pagination{
   .page{color: @purple; margin: 0 5px; padding: 0 5px; text-decoration: none;
      &:hover{color: @green;}
      &.active{background-color: @green; color: #fff; text-decoration: none;}
   }
}
.separator{
   span{
      &:not(:last-of-type):after{content: ","; position: relative; left: -3px;}
   }
}
.front-tabs{background-color: rgba(0,0,0,0.05);
   .container{padding-top: 0; padding-bottom: 0;}
   .tab-wrapper{display: flex;
      .single-tab{display: block; text-decoration: none; font-weight: bold; font-size: 20px; color: @purple; padding: 14px 8px; position: relative; margin-left: 24px;
         &:first-child{margin-left: 0;}
         &.active{color: @green;
            &:after{content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background-color: @green;}
         }
         &:hover{color: @green;}
      }
   }
}
.disabled{color: #aaa !important; pointer-events: none;}
.fixed-top{z-index: 1000;}
.md-dialog-is-showing{overflow: hidden;}
.md-dialog-container{position: fixed; height: 100% !important; width: 100% !important; z-index: 1010;}
md-backdrop.md-dialog-backdrop{z-index: 1005;}
md-dialog{max-width: 1000px; width: 100%; margin: 0 20px; padding: 0 20px; max-height: 700px; height: 100%;
   md-dialog-content{flex-grow: 1; position: relative;}
}
.form-half-width{max-width: 500px; width: 100%;}
.overflow-scroll{overflow: scroll; max-height: 400px; margin-bottom: 20px; height: 100%;}
.modal-close{padding: 0; margin: 0; height: auto; width: auto; min-height: auto; min-width: auto; display: inline-flex; color: rgba(0, 0, 0, .5) !important; transition: all .4s;
   &:hover{background-color: rgba(158,158,158,0.2) !important;}
   &.md-focused{background-color: rgba(158,158,158,0.2) !important;}
   .material-icons{font-size: 32px;}
}
.add-project-manual{
   md-tabs .md-tab[disabled]{display: block;
      &.md-active{opacity: 1;}   
   }
   form{padding:12px 9px 9px; border: 1px solid rgba(0,0,0,0.12); border-top: none; margin-top: -1px;
      md-datepicker{margin-left: -12px;}
   }
}
.flex-shrink-0{flex-shrink: 0;}
.loader-box{position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center;}
.blur-layer{filter: blur(3px); overflow: hidden; pointer-events: none;}
.z-1{z-index: 1;}
.overflow-hidden{overflow: hidden;}
.d-none{display: none !important;}
.blokk-font{font-family: 'BLOKK'; color: rgba(0,0,0,0.1); line-height:100%; height: 40px;}
paginator{min-height:2.5rem; display:block;}
.table-add-project{table-layout: fixed; min-width: 840px;
   thead tr th{border-bottom: 2px solid @green; color: @black;}
}
.table-top-divider{position: relative; top: 1px; opacity: 0.6;}
.table-bottom-divider{opacity: 0.6;}
md-dialog.md-content-overflow md-dialog-actions{border-top: none;}
.form-freckle-name{
   p{margin: 6px 0;}
}
.badge{background: @darkergrey; font-size: 12px; padding: 2px 4px;
   &.badge-preview{font-size: 18px; padding: 4px 8px; cursor: help;}
}
md-list-item{
   &.clickable{
      &+.clickable{margin-top: 0.5rem;}
      .md-button:not([disabled]):hover{background-color: rgba(158,158,158,0.1);
         &.btn-primary:hover{background-color: @darkergreen;}
         &.btn-secondary:hover{background-color: @darkred;}
      }
      .md-focused:first-child{background-color: rgba(158,158,158,0.2);}
   }
   &.list-item-content{align-items: flex-start; padding: 20px 0; border-bottom: 1px solid #cfcfcf; transition: box-shadow 0.15s;
      //&:hover{box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);}
      &:first-of-type{padding-top: 0;}
      &.list-item-contact:not(:first-of-type){padding-top: 15px;}
      &:last-of-type{border-bottom: none;}
      .btn-icon{line-height: 100%; margin-left: 0;
         i{display: block;}
      }
   }
}
.add-list-item{display: inline-flex; position: relative; padding-left: 26px; margin-left: 10px; font-size: 18px;
   &.add-contact-item{font-size: 16px;}
   i{position: absolute; top: 50%; left: 0; margin-top: -12px;}
}
.md-datepicker-triangle-button{display: none;}
md-autocomplete{background: transparent !important;}
.list-col-l{width: 20%; padding: 0 15px;}
.list-col-m{width: 15%; padding: 0 15px;}
.list-col-s{width: 12.5%; padding: 0 15px;}
.list-col-xs{width: 10%; padding: 0 15px;}
.list-hours{max-width: 154px; width: 100%;}
.list-participant-name{max-width: 254px; width: 100%;}
.list-label{max-width: 110px; width: 100%;
   &.list-label-xl{max-width: 150px;}
}
.list-input{width: 100%;}
.list-datepicker{margin-left: -17px;}
.loader-checkdone{
   checkdone{
      svg{position: static; width: 60px;}
   }
}
.breadcrumb{background-color: transparent; border: none; padding: 16px 0;}
.breadcrumb-item{display: flex; font-weight: bold; font-size: 18px;
   .last-item{pointer-events: none; text-decoration: none; color: @black;}
}
.hint-text{font-size: 14px; display: block; margin-top: 6px; color: #a0a0a0;
   &.import-date {color: @red;}
}
.optional-field{color: @darkergrey;}
.number-prefix{width: 65px;}
.number-perifix{width: calc(~"100% - 65px"); margin-left: 6px;}
.font-style-italic{font-style: italic;}
.file-upload{border: 2px solid @darkergrey; background: @grey; height: 120px; display: flex; justify-content: center; align-items: center; padding: 15px;
   &.upload-disabled {background-color: @white}
   &.dragover {background-color: @darkergrey;
      * a{color: #fff !important;}
   }
}

.tabs{padding: 0 15px;
   .tabs-wrapper{display: flex; border-bottom: 1px solid rgba(0,0,0,0.12);
      &.overflow-x{overflow-x: scroll;}
      .single-tab{cursor: pointer; font-weight: bold; border-top: 2px solid transparent; border-bottom: 2px solid transparent; padding: 8px 12px; position: relative; flex-shrink: 0; transition: background-color .15s; color:rgba(0,0,0,0.54);
         &:hover{background-color: rgba(0,0,0,0.05);}
         &.active{color: @purple; border-bottom-color: @green;}
      }
   }
   .tab-content{margin-top: 16px;}
}
.field-label{width: 180px; flex-shrink: 0;
   &-l{width: 200px; flex-shrink: 0;}
   &-xl{width: 285px; flex-shrink: 0;}
}
.btn-light:hover{color: #fff; border-color: @darkergreen;}
.fa.file-icon{font-size: 30px; color: @green; text-decoration: none; display: block; position: relative;
   &+.fa.file-icon{margin-left: 16px;}
}
.file-link{position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.result-badge{width: 32px; font-weight: bold; display: flex; justify-content: center; align-items: center; margin-right: 6px; border-radius: 100%; flex-shrink: 0;
   &.result-badge-private{background-color: @purple; color: @white;}
   &.result-badge-public{background-color: @green; color: @white;}
}
md-tooltip{font-size: 14px !important; opacity: 1 !important;}
.no-info{/*color: #7a7a7a;*/ color: @red; font-style: italic;}
.red{color: @red !important;}
.highlight-participant{color: @green; font-weight: bold;}
.expand-search{display: block;
   .material-icons{vertical-align: middle; line-height: 22px; margin-left: 4px;}
}
.participant-modal{
   .field-label{margin-bottom: 0;}
}
.fa-download{color: @green;
   &:hover{color: @green;}
}
.view-icon{vertical-align: middle; margin-left: 8px; position: relative; top: -1px; font-size: 20px !important;}
.edit-icon{border: 2px solid @purple; border-radius: 6px; padding: 2px;}
.table-overflow{overflow-x: scroll;}
.flex-grow-1{flex-grow: 1;}
.tag-preview{display: flex !important; flex-direction: column; height: auto;}
.white-separator{width: 100%; height: 1px; background-color: @white;}
p.item-update{font-size: 18px; font-weight: bold; text-align: center; margin-bottom: 0.5rem;}
p.well{color: @green;}
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value{border-bottom-color: @green;}
md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected]{color: @green;
   &:focus{color: @green;}
}
.row-adjuster{
   &:before{content: ""; min-height: 48px; visibility: hidden; display: inline-block;}
}
md-toast{position:fixed; min-width: 0; max-width: 568px; width: 100%; bottom: auto;
   &.full-width{max-width: 100%;
      &.toast-warning{top: 76px;}
      .md-toast-content{max-width: 100%;}
   }
   &.toast-error{
      .md-toast-content{background-color: @red; font-weight: bold; font-size: 16px;
         &:before{content: "\f06a"; font-family: "fontawesome"; visibility: visible; display: flex; align-items: center; font-size: 22px; margin-right: 6px;}
      }
   }
   &.toast-success{
      .md-toast-content{background-color: @green; font-weight: bold; font-size: 16px;
         &:before{content: "\f058"; font-family: "fontawesome"; visibility: visible; display: flex; align-items: center; font-size: 22px; margin-right: 6px;}
      }
   }
   &.toast-warning{
      .md-toast-content{background-color: @yellow; font-weight: bold; font-size: 16px; color: @black;
         &:before{content: "\f071"; font-family: "fontawesome"; visibility: visible; display: flex; align-items: center; font-size: 22px; margin-right: 12px;}
      }
   }
   .md-toast-content{padding: 10px 18px;
      .material-icons{font-size: 32px; margin-left: 12px;}
   }
}
.error-input{box-shadow: 0px 2px @red !important;}
.loader-white{
   md-progress-circular path{stroke: rgb(255,255,255);}
}
.word-count{display: flex; justify-content: flex-end; font-size: 14px; color: @darkergrey; margin-top: 8px;}
.sort-link{.d-none;}
.no-results{height: 400px;}
.table-xl-layout{min-width: 1200px;}
.table-l-layout{min-width: 930px;}
.result-example{font-size: 14px;
   .result-badge{margin-right: 4px; width: 28px;}
   p{color: rgba(41,43,44,0.5);}
}