.display-project-page {
  .outside-border{border: 1px solid rgba(0,0,0,0.12);}
  p{margin-bottom: 0;}
  .section-heading{border-bottom: 1px solid rgba(0,0,0,0.12); padding-bottom: 8px; margin-bottom: 0;}
  .hr-separator{border-style: dashed; border-color: rgba(0,0,0,0.2);}
}