.tab-pane{
    padding-top: 16px;
}
.step {
    display: block;
    float: left;
    font-weight: bold;
    background: #F2F2F2;
    padding-right: 10px;
    height: 30px;
    line-height: 32px;
    margin-right: 33px;
    position: relative;
    text-decoration: none;
    color: #f9f9f9;
    cursor: default;
      
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: -30px;
      border: 15px solid transparent;
      border-color: #F2F2F2;
      border-left-color: transparent;
    }
      
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: -30px;
      border: 15px solid transparent;
      border-left-color: #F2F2F2;
    }
      
    &:first-of-type {
      border-radius: 2px 0 0 2px;
      padding-left: 15px;
      
      &:before {
        display: none;
      }
    }
      
    &:last-of-type {
      border-radius: 0 2px 2px 0;
      margin-right: 25px;
      padding-right: 15px;
        
      &:after {
        display: none;
      }
    }
  
    &.completed {
      background: #3A3E56;
      color: #fff!important;
      cursor: pointer;
  
      &:before {
        border-color: #3A3E56;
        border-left-color: transparent;
      }
  
      &:after {
        border-left-color: #3A3E56;
      }
  
      &:hover {
        background: #3A3E56;
        border-color: #3A3E56;
        color: #fff;
        text-decoration: none;
          
        &:before {
          border-color: #3A3E56;
          border-left-color: transparent;
        }
            
        &:after {
          border-left-color: #3A3E56;
        }
      }
    }
  }