.search-project-page {
   label.custom-radio,
   label.custom-checkbox {
      line-height: 1.5rem;
      margin-bottom: 0rem;
      .custom-control-indicator {
         background-color: @green;
      }
      .custom-control-input:focus ~ .custom-control-indicator {
         box-shadow: none !important;
      }
   }
   .pp {
      margin-bottom: 0.5rem;
   }
   .note {
      font-size: 0.88rem;
      color: rgba(41, 43, 44, 0.7);
   }
   .search-project {
      padding-bottom: 1.25rem;
      .card-header {
         transition: all 0.2s;
         &:hover {
            background-color: @green;
            .search-heading {
               color: @white;
            }
         }
         .search-heading {
            color: @green;
         }
      }
      .btn-primary {
         margin-top: 1.25rem;
      }
      form {
         padding: 0 1.25rem;
         .next-to {
            width: 45%;
         }
         .form-group {
            p {
               margin-bottom: 0.31rem;
            }
            .form-check.form-check-inline {
               margin-bottom: 0rem;
            }
            .desc {
               margin-right: 1.25rem;
            }
         }
      }
   }
   .search-export {
      padding: 1.25rem 0rem;
      border-top: solid 1px @purple;
      border-bottom: solid 1px @purple;
      .d-block {
         margin-top: 1.25rem;
      }
      .btn {
         width: 9.4rem;
         margin-right: 1rem;
      }
      .more {
         padding-left: 1.57rem;
      }
      .modal-body {
         .d-block {
            margin-top: 0rem;
         }
      }
   }
   .search-results {
      padding-top: 1.25rem;
      .name {
         font-weight: bold;
      }
      .update {
         color: @red;
         span {
            display: block;
            font-size: 0.63rem;
         }
      }
      a {
         color: @green;
      }
      .float-right {
         padding-right: 1rem;
         font-weight: bold;
      }
      table {
         font-size: 0.81rem;
         .btn {
            font-size: 0.81rem;
         }
      }
      tbody tr {
         transition: all .2s;
         &:hover {
            background-color: @purple;
            color: @white;
            .update {
               color: @white;
            }
            .btn {
               &:hover {
                  background-color: @purple;
               }
            }
         }
         td {
            vertical-align: middle;
            .custom-control {
               margin-right: 0rem;
               padding-left: 1.06rem;
            }
         }
      }
      thead tr th {
         vertical-align: middle;
      }
   }
}