.btn-secondary {
   background-color: @white;
   color: @red;
   border-color: @red;
   border-width: 0.13rem;
   transition: all .2s;
   cursor: pointer;
   width: 7.5rem;
   &:hover {
      background-color: @darkred;
      color: @white;
      border-color: @darkred;
   }
   &:focus {
      box-shadow: none;
   }
}
.main-page {
   .stripe {
      width: 92%;
      height: 1px;
      background-color: #ddd;
      display: block;
      margin: 0 auto;
   }
   .search-project {
      .nav-item {
         .nav-link {
            font-size: 1.2rem;
            padding: .5rem 1rem;
            color: @green;
            background-color: @grey;
         }
         .nav-link.active {
            background-color: @white;
         }
      }
      .tab-content {
         border: 1px solid #ddd;
         border-top: none;
      }
      #accordion {
         .panel {
            padding: 0.5rem 2.5rem;
            .panel-title {
               a {
                  color: @green;
               }
            }
            .panel-body {
               form {
                  padding: 0;
               }
            }
         }
      }
   }
   form {
      padding: 16px 25px;
      .next-to {
         width: 45%;
      }
      .form-group {
         p {
            margin-bottom: 0.31rem;
         }
         .form-check.form-check-inline {
            margin-bottom: 0rem;
         }
         .desc {
            margin-right: 1.25rem;
         }
      }
      label.custom-radio,
      label.custom-checkbox {
         line-height: 1.5rem;
         margin-bottom: 0rem;
         .custom-control-input:focus ~ .custom-control-indicator {
            box-shadow: none !important;
         }
         .custom-control-input:checked ~ .custom-control-indicator {
            background-color: @green;
         }
         .custom-control-input:active ~ .custom-control-indicator {
            background-color: @green;
         }
      }
   }
   .incomplete-project {
      padding-bottom: 2.5rem;
      a {
         color: @green;
      }
      .float-right {
         padding-right: 1rem;
         font-weight: bold;
      }
      table {
         font-size: 0.81rem;
         .btn {
            font-size: 0.81rem;
         }
      }
      tbody tr {
         transition: all .2s;
         
         td {
            vertical-align: middle;
            &:last-child {
               text-align: center;
            }
         }
      }
   }
   .display-project {
      &.recent-project{margin-top: 40px;}
      .name {
         font-weight: bold;
      }
      .show-more{border: 1px solid #eceeef; margin-top: -1px;padding: 12px; font-weight: bold; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
      .update {
         color: @red;
         span {
            display: block;
            font-size: 0.63rem;
         }
      }
      .float-right {
         padding-right: 1rem;
         font-weight: bold;
      }
      table {
         font-size: 0.81rem;
         margin-bottom: 0;
         .custom-control{margin: 0; padding-left: 0; width: 16px;}
         .btn {
            font-size: 0.81rem;
            color: #fff;
            font-weight: bold;
         }
      }
      tbody tr {
         td {
            vertical-align: middle;
            &:last-child{text-align: center;}
         }
      }
      thead tr th {
         vertical-align: middle; border-bottom: 2px solid @green; background-color: #fff; color: @black;
      }
   }
}