.recover {
   background-color: @purple;
   color: @white;
   padding: 2.5rem;
   border-radius: 1rem;
   box-shadow: 0rem 0rem 13.25rem 2rem rgba(20, 204, 118, 0.7);
   img {
      width: 18.75rem !important;
   }
   a {
      color: @green;
   }
   p {
      padding-top: 1.25rem;
      margin-bottom: 0rem;
   }
   h4 {
      padding: 2rem 0rem 0;
   }
   h1 {
      padding-top: 1rem;
      font-size: 2.5rem;
   }
   form {
      padding-top: 1.25rem;
      .form-group {
         margin-bottom: 1.5rem;
      }
      .form-group:last-child {
         margin-bottom: 0rem;
      }
      .btn-primary {
         width: 11rem;
      }
   }
}