//main: build.less

.mobile{
	// Font size fix.
	-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; text-size-adjust:100%;
	
	//Scrollivatele DIV-idele peale panna
	//-webkit-overflow-scrolling:touch; overflow: scroll; -ms-overflow-style: none; 
	
	
	// Windows phone viewport. HTML meta tag doesn't work for Windows mobile!
	@-ms-viewport{}
	@viewport{}
	
}
@media (max-width: 991px) {
	.mobile-none { display: none; }
	.mobile-menu{display: flex !important;}
}
@media (min-width: 990px) {
	.mobile-show { display: none; }
}
@media (max-width: 991px) {
	.main-page form .next-to{width: 100% !important;}
	.container{padding-top: 15px; padding-bottom: 15px;}
	.breadcrumb{margin-bottom: 0;}
	.margin-sides{margin-left: -15px; margin-right: -15px;}
}
@media (max-width: 767px) {
	.sort-link{.d-flex;}
	.accountsHeader{
		&:before{content: none;}
	}
	.accountsContent{
		&:before{content: none;}
	}
	.navbar-brand{font-size: 1rem;}
	.mobile-menu{
		.mobile-menu-content{left: 0; border-bottom-left-radius: 0 !important;}
	}
	md-list-item.clickable{
		.md-list-item-inner{flex-direction: column; align-items: flex-start;
			&:before{content: none;}
		}
	}
	.row-adjuster{
		&:before{content: none;}
	}
}