@header-color: #3d489e;

.settings-nav { width: 50% !important; } 
.password-helper { color: grey; font-size: 12px; }
.profile {
    .ip-input { width: 100%; display: inline-block; &.pointer-none { pointer-events: none; } };
    .ip_big_label { display: inline-block; margin-bottom: 0.7rem; };
    .ip_switch { display: inline-block; position: relative; top: 7px; left: 20px; };
    .list-item { height: 2.5rem; }
    .ip-action { position: relative; bottom: 2rem; left: 2rem; float: right; };
    .field { margin: 1rem };
    .header { 
        margin-bottom: 1.5rem; margin-left: 1rem;
        &.main-header { margin-left: 0rem; }
    }
    .form-controls { margin-top: 2rem; }
}
.config-label {
    padding: 0.5rem 0.5rem 0rem 0rem;   
}

.del-hidden-project {
    font-size:28px!important;
    color:red;
    float: right;
    padding-right: 25px;
}

.add-new-account {
    font-size: 35px !important;
    color: #3d489e !important;
}
.edit-tag{
    color: #269FD6;
    font-size:20px !important;
    display: inline!important;
}

.delete-icon{
    color: red;
    font-size:20px !important;
    display: inline!important;
}

.save-tags-btn{
    float:right;
}

table {
	border: 1px solid lightgrey;
}

.table th, .table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid lightgrey;
}

th{
    color: #3d489e;
    background-color: #F2F2F2;
    &:not(:last-child){
        border-right : 2px solid white;
    }
}
.table th, .table td{
    border-top: 0px solid lightgrey;
}

.edit-content{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 35px;
    padding-bottom: 15px;
}

.sum{
    float:right;
    bottom: 14px;
    position:relative;
    margin-top: 10px;
}
.profile .field {
    margin: null!important;
}

.accountRow{
    .md-list-item-inner{width:100%; display:flex;}
}

.restoreButton{display: none !important;}
.accountsRow-col{width:50%;}
.accountsRow-flex{display: flex; align-items:center; justify-content:space-between;
    &>*{width:30%;}
}
.accountsRow-input{
    padding: 0px 30px 0px 0px;
}
.accountsHeader{ color: @green; font-weight: 600; }
.accountsContent{
    &.newContent{
        md-select{margin-bottom: 8px;}
    }
    //&:hover{background-color: #eceeef;}
    md-select{margin-bottom: 12px;}
    &+.accountsContent{margin-top: 8px;}
}
.modifiedRow{
    .md-raised-loader{display:none !important;}
}
.unmodifiedRow{
    
    .saveButton{display:none !important;}
    .md-raised-loader{display:none !important;}
}
.loadingRow {
    .saveButton{display:none !important;}
    .md-raised-loader {display:block !important;}
}

.md-raised-loader{text-align:center; padding: 0 !important;
    .md-mode-indeterminate{margin:6px auto;}
    
}
