//main: build.less

@purple:#3A3D57;
@green:#16B962;
@darkergreen:#2E9F63;
@white:#FFFFFF;
@red:#CC1313;
@darkred:#AB0000;
@grey:#EDEDED;
@yellow:#FFCA00;
@black:#292b2c;
@anothergrey:#cccccc;
@lightgrey:#f2f2f2;
@darkgrey:#e4e4e4;
@darkergrey:#a0a0a0;

.container {
   margin-top: 75px;
}

.border-radius(@px){
   -webkit-border-radius:@px; border-radius:@px;
}

.clearBoth{
   &:before{content:" "; display: block; width:100%; height:0; clear:both; overflow: hidden;}
   &:after{content:" "; display: block; width:100%; height:0; clear:both; overflow: hidden;}
}

.placeholder{
   &::-webkit-input-placeholder {opacity:1;}
   &:-moz-placeholder{opacity:1;}
   &::-moz-placeholder{opacity:1;}
   &:-ms-input-placeholder {opacity:1;}
   &:placeholder-shown{opacity:1;}
}
.container {
   padding: 2.5rem 0;
}
.custom-control-input:focus ~ .custom-control-indicator {
   box-shadow: none !important;
}
.custom-control-input:checked ~ .custom-control-indicator {
   background-color: @green !important;
}
.custom-control-input:active ~ .custom-control-indicator {
   background-color: @green !important;
}
.custom-control-indicator {
   background-color: transparent;
}
.custom-control-input:focus ~ .custom-control-indicator {
   box-shadow: none !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") !important;
}
.custom-radio .custom-control-indicator {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
   background-color: #ddd;
}